.container {
  width: 100%;
  max-width: 1680px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;

  &-line {
    margin-bottom: 10px;
    width: 54px;
    height: 4px;
    background-color: #4666a9;
  }
  &-image {
    padding-top: 5px;
    padding-left: 46px;
  }
  &-logo {
    width: 180px;
    height: 45px;
  }
  &-cercle {
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background: url('../img/logo2.svg') center no-repeat;
    background-color: #fff;
  }
  &-logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 6;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 70px;
    background-color: #4567aa;
    &-text {
      padding-right: 15px;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Forum" serif;
    }
  }
}
.main {
  background-image: url('../img/zastavka.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;

  &-text {
    width: 865px;
    height: 180px;
    margin: auto;
    margin-bottom: 450px;
    text-transform: uppercase;
    &-head {
      color: #ffffff;
      font-size: 90px;
      text-align: center;
      padding-top: 196px;
      font-family: "Forum" ,sans-serif;
    }
  }
  &-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    height: 86px;
    background-color:#ffffffff;
    margin: auto;
    .calendar{
      padding: 30px 0 28px 40px ;
    }
    
    &-counter{
      font-family: "Hind Madurai", sans-serif;
      font-weight: 500;
      height: 21px;
    }
    &-btn1{
      background-color:#EEEEEE;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 60px;
    }
    .line{
      border-left: 0.98px solid #4567AA;
      height: 86px;
      margin-right: 40px;
    }
    .line1{
      border-left: 0.98px solid #4567AA;
      height: 86px;
    }
    &-btn2{
      background-color:#EEEEEE;
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
    &-btn3{
      background-color:#EEEEEE;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 25px;
    }
    &-btn4{
      background-color:#4567AA;
      border-radius: 50%;
      width: 62px;
      height: 62px;
      margin: 12px 25px 12px 30px;
    }
    &-text{
      font-size: 18px;
      font-family: "Hind Madurai", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      padding: 30px 38px 30px 25px;
    }
  }
}
