.container {
  width: 100%;
  max-width: 1680px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
.header-line {
  margin-bottom: 10px;
  width: 54px;
  height: 4px;
  background-color: #4666a9;
}
.header-image {
  padding-top: 5px;
  padding-left: 46px;
}
.header-logo {
  width: 180px;
  height: 45px;
}
.header-cercle {
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: url("../img/logo2.svg") center no-repeat;
  background-color: #fff;
}
.header-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 6;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 70px;
  background-color: #4567aa;
}
.header-button-text {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Forum" serif;
}

.main {
  background-image: url("../img/zastavka.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  margin-bottom: 189px;
  padding-top: 260px;
}
.main-white {
  width: 856px;
  height: 90px;
  background-color: #fff;
  border-top-right-radius: 70px;
}
.main-white__text {
  padding-top: 35px;
  margin: auto;
  width: 682px;
  height: 112px;
  font-family: var(--Forum);
  font-size: 50px;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
}

.about {
  margin: auto;
  max-width: 823px;
}
.about-main {
  display: flex;
  margin: auto;
  align-items: center;
}
.about-image {
  width: 142px;
  height: 211px;
  margin-right: 29px;
}
.about-image1 {
  width: 134px;
  height: 146px;
  margin-top: 136px;
  margin-left: 50px;
}
.about-number {
  width: 495px;
  margin: auto;
}
.about-number__text {
  font-family: var(--Forum);
  font-size: 350px;
  color: var(--primary-color);
}
.about-paragraph {
  margin: auto auto 50px auto;
  width: 605px;
  height: 72px;
}
.about-paragraph__text {
  font-family: var(--Hind);
  font-size: 24px;
  text-align: center;
}
.about-btn {
  width: 400px;
  height: 60px;
  margin: auto auto 150px auto;
}
.about-btn__input {
  display: flex;
  border: var(--primary-color) 2px solid;
}
.about-btn__input ::-moz-placeholder {
  color: var(--primary-color);
  font-family: var(--Hind);
  font-size: 16px;
  width: 180px;
  height: 20px;
}
.about-btn__input ::placeholder {
  color: var(--primary-color);
  font-family: var(--Hind);
  font-size: 16px;
  width: 180px;
  height: 20px;
}
.about-btn__image {
  width: 28px;
  height: 28px;
  margin: 17px 19px 15px 18px;
}