.container {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
.header-line {
  margin-bottom: 10px;
  width: 54px;
  height: 4px;
  background-color: #4666a9;
}
.header-image {
  padding-top: 5px;
  padding-left: 46px;
}
.header-logo {
  width: 180px;
  height: 45px;
}
.header-cercle {
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: url("../img/logo2.svg") center no-repeat;
  background-color: #fff;
}
.header-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 6;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 70px;
  background-color: #4567aa;
}
.header-button-text {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Forum" serif;
}

.main {
  background-image: url("../img/zastavka.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
  margin-bottom: 84px;
}
.main-text {
  width: 865px;
  height: 180px;
  margin: auto;
  margin-bottom: 420px;
  text-transform: uppercase;
}
.main-text-head {
  color: #ffffff;
  font-size: 90px;
  text-align: center;
  padding-top: 196px;
  font-family: "Forum", sans-serif;
}
.main-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  height: 86px;
  background-color: white;
  margin: auto;
}
.main-date .calendar {
  padding: 30px 0 28px 40px;
}
.main-date-counter {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  height: 21px;
}
.main-date-btn1 {
  background-color: #eeeeee;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 60px;
}
.main-date .line {
  border-left: 0.98px solid #4567aa;
  height: 86px;
  margin-right: 40px;
}
.main-date .line1 {
  border-left: 0.98px solid #4567aa;
  height: 86px;
}
.main-date-btn2 {
  background-color: #eeeeee;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.main-date-btn3 {
  background-color: #eeeeee;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 25px;
}
.main-date-btn4 {
  background-color: #4567aa;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin: 12px 25px 12px 30px;
}
.main-date-text {
  font-size: 18px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 38px 30px 25px;
}

.hotels {
  margin-bottom: 145px;
}
.hotels-change {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto 50px auto;
}
.hotels-image1 {
  width: 142px;
  height: 211px;
}
.hotels-image2 {
  width: 140px;
  height: 147px;
}
.hotels-text {
  font-family: "Forum", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  width: auto;
  height: 50px;
  margin-bottom: 25px;
}
.hotels-desc {
  font-family: "Hind Madurai", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 302px;
  height: 29px;
  text-align: center;
}
.hotels-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.hotels-desc1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
  margin-right: 50px;
  margin-bottom: 58px;
}
.hotels-card {
  width: 582px;
  height: 660px;
  background-color: #f5f5f5;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}
.hotels-card__img {
  padding: 40px 44px 0px 40px;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  padding-bottom: 35px;
}
.hotels-card__text {
  font-family: "Hind Madurai", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #4567aa;
  width: 135px;
  height: 29px;
}
.hotels-card__under {
  display: flex;
  justify-content: space-between;
  width: 288px;
  height: 30px;
}
.hotels-card__line2 {
  border-left: 0.98px solid #4567aa;
  height: 30px;
}
.hotels-card__text2 {
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #4567aa;
}
.hotels-card__btn {
  width: 245px;
  height: 60px;
  background-color: #4567aa;
  color: #fff;
  text-transform: uppercase;
  margin-left: 45px;
}
.hotels-card__btn1 {
  width: 185px;
  height: 60px;
  color: #4567aa;
  text-transform: uppercase;
  border: #4567aa 3px solid;
  margin-right: 50px;
}
.hotels-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 120px;
  height: 100%;
  margin: 0 auto;
}
.options-text {
  width: 565px;
  font-family: "Forum", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 150px;
}
.options-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 535px;
  width: 679px;
}
.options-about__number {
  font-family: "Forum", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  padding-right: 50px;
}
.options-about__name {
  font-family: "Forum", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}
.options-about__btn {
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #4567aa;
  text-transform: uppercase;
}
.options-image {
  width: 720px;
  border-top-left-radius: 100px;
}
.options-disc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 2px #4567aa solid;
}
.options-disc div {
  transition: all 0.3s linear;
}
.options-disc div span {
  transition: all 0.3s linear;
}
.options-disc:hover div {
  padding-left: 47px;
}
.options-disc:hover div span {
  color: #4567aa;
}
.options-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 308px;
}
.options-slider__btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: #4567aa 1px solid;
}
.options-slider__numbers {
  color: #4567aa;
  font-family: "Forum", sans-serif;
  font-size: 50px;
}

.active-weekend {
  padding: 100px 0;
  background: #f5f5f5;
}
.active-weekend__title {
  text-align: center;
  font-size: 50px;
  font-family: "Forum";
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 52px;
}
.active-weekend__buttons {
  width: 861px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 68px;
}
.active-weekend__buttons-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.active-weekend__buttons-item {
  border: 1px solid #4567aa;
  border-radius: 2px;
  padding: 15px 40px;
  color: #4567aa;
  transition: all 0.2s linear;
}
.active-weekend__buttons-item span {
  text-transform: uppercase;
  font-size: 28px;
}
.active-weekend__buttons-item:hover {
  background: #4567aa;
  color: white;
}
.active-weekend__items_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}
.active-weekend__items_top-item {
  height: 460px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: end;
}
.active-weekend__items_top-item.btrr {
  width: 1013px;
  background-image: url("../img/active-weekend image1.png");
  border-top-right-radius: 100px;
}
.active-weekend__items_top-item.btlr {
  width: 607px;
  background-image: url("../img/active-weekend image2.png");
  border-top-left-radius: 100px;
}
.active-weekend__items_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.active-weekend__items_bottom-item {
  height: 460px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: end;
}
.active-weekend__items_bottom-item:nth-child(1) {
  width: 683px;
  background-image: url("../img/active-weekend image3.png");
}
.active-weekend__items_bottom-item:nth-child(2) {
  width: 934px;
  background-image: url("../img/active-weekend image4.png");
}
.active-weekend__items_item_bottom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 42px;
  background: white;
  border-top-left-radius: 40px;
  height: 70px;
}
.active-weekend__items_item_bottom-button span {
  font-size: 24px;
  font-weight: 500;
  font-family: "Hind Madurai";
}
.active-weekend__items_item_bottom-button button {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  background-color: #FF8139;
  border-radius: 50%;
  margin-left: 29px;
}

.sales {
  max-width: 1680px;
  height: 100%;
  margin-bottom: 162px;
}
.sales-head {
  margin-bottom: 122px;
  margin-left: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-text {
  font-family: "Forum";
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
.sales-content {
  max-width: 1330px;
  margin: auto;
}
.sales-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 117px;
}
.sales-main-image {
  width: 640px;
  height: 320px;
}
.sales-main-info {
  margin-left: 85px;
}
.sales-main__date {
  font-family: "Hind Madurai";
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 30px;
}
.sales-main__text {
  width: 574px;
  font-family: "Forum";
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sales-main__description {
  width: 562px;
  height: 84px;
  font-family: "Hind Madurai";
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 90px;
}
.sales-main__btn {
  font-family: "Hind Madurai";
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4567AA;
}
.sales-main__under {
  border: 2px #4567aa solid;
  width: 1680px;
  margin-bottom: 40px;
}
.sales-main__look {
  margin-left: 750px;
  width: 142px;
  height: 29px;
}
.sales-main__lookall {
  color: #4567AA;
  font-family: "Hind Madurai";
  font-size: 20px;
  font-weight: 100;
}
.sales-main__lookall:hover {
  text-decoration: underline;
}

.video {
  max-width: 1680px;
}
.video-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  margin-bottom: 80px;
}
.video-text {
  width: 730px;
  font-family: "Forum";
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.video-apples {
  margin-left: 125px;
  margin-bottom: 160px;
}
.video-under {
  border: #4567AA 2px solid;
  width: 1680px;
  margin-left: 125px;
  margin-bottom: 50px;
}