.header {
  display: flex;
  max-width: 1080px;
}
.header-cross {
  margin-top: 52px;
  margin-left: 113px;
  margin-bottom: 51px;
  width: 46px;
  height: 46px;
}
.header-cross__line1 {
  background-color: var(--primary-color);
  width: 46px;
  height: 3px;
  transform: rotate(45deg);
}
.header-cross__line2 {
  background-color: var(--primary-color);
  width: 46px;
  height: 3px;
  transform: rotate(132deg);
}
.header-logo {
  width: 190px;
  height: 38px;
  margin-top: 45px;
  margin-left: 61px;
}

.positions {
  margin-bottom: 23px;
  max-width: 688px;
  margin-left: 225px;
  border-bottom: var(--primary-color) 2px solid;
}
.positions-cont {
  display: flex;
  justify-content: space-between;
}
.positions-main__text {
  width: -moz-fit-content;
  width: fit-content;
  height: 33px;
  font-family: var(--Forum);
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 25px;
}
.positions-main__desc {
  font-family: var(--Forum);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.positions-text {
  margin-bottom: 145px;
}
.positions-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 281px;
  height: 60px;
  background-color: var(--primary-color);
}
.positions-button__text {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--Hind);
  font-size: 18px;
  padding: 18px 15px 20px 30px;
}

.info {
  max-width: 711px;
  margin: auto auto auto 225px;
}
.info-ab {
  display: flex;
  justify-content: space-between;
}
.info-telephone {
  display: flex;
  margin-bottom: 40px;
}
.info-telephone__numbers {
  width: 190px;
  height: 33px;
  color: var(--primary-color);
  font-family: var(--Hind);
  font-size: 24px;
  padding-left: 12px;
}
.info-telephone__image {
  width: 26px;
  height: 26px;
  padding-top: 5px;
}
.info-place {
  width: 342px;
  height: 50px;
}
.info-place__text {
  color: var(--primary-color);
  font-family: var(--Forum);
  font-size: 20px;
  text-transform: uppercase;
}
.info-icons__image {
  padding-right: 40px;
}