.container {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;

  &-line {
    margin-bottom: 10px;
    width: 54px;
    height: 4px;
    background-color: #4666a9;
  }
  &-image {
    padding-top: 5px;
    padding-left: 46px;
  }
  &-logo {
    width: 180px;
    height: 45px;
  }
  &-cercle {
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background: url('../img/logo2.svg') center no-repeat;
    background-color: #fff;
  }
  &-logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 6;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 70px;
    background-color: #4567aa;
    &-text {
      padding-right: 15px;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
      font-weight: 400;
      font-family: 'Forum' serif;
    }
  }
}
.main {
  background-image: url('../img/zastavka.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  width: 100%;
  margin-bottom: 84px;

  &-text {
    width: 865px;
    height: 180px;
    margin: auto;
    margin-bottom: 420px;
    text-transform: uppercase;
    &-head {
      color: #ffffff;
      font-size: 90px;
      text-align: center;
      padding-top: 196px;
      font-family: 'Forum', sans-serif;
    }
  }
  &-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1110px;
    height: 86px;
    background-color: #ffffffff;
    margin: auto;
    .calendar {
      padding: 30px 0 28px 40px;
    }

    &-counter {
      font-family: 'Hind Madurai', sans-serif;
      font-weight: 500;
      height: 21px;
    }
    &-btn1 {
      background-color: #eeeeee;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 60px;
    }
    .line {
      border-left: 0.98px solid #4567aa;
      height: 86px;
      margin-right: 40px;
    }
    .line1 {
      border-left: 0.98px solid #4567aa;
      height: 86px;
    }
    &-btn2 {
      background-color: #eeeeee;
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }
    &-btn3 {
      background-color: #eeeeee;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 25px;
    }
    &-btn4 {
      background-color: #4567aa;
      border-radius: 50%;
      width: 62px;
      height: 62px;
      margin: 12px 25px 12px 30px;
    }
    &-text {
      font-size: 18px;
      font-family: 'Hind Madurai', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      padding: 30px 38px 30px 25px;
    }
  }
}
.hotels {
  margin-bottom: 145px;
  &-change {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 50px auto;
  }
  &-image1 {
    width: 142px;
    height: 211px;
  }
  &-image2 {
    width: 140px;
    height: 147px;
  }
  &-text {
    font-family: 'Forum', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    width: auto;
    height: 50px;
    margin-bottom: 25px;
  }
  &-desc {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    font-weight: 400;
    width: 302px;
    height: 29px;
    text-align: center;
  }
  &-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
  }
  &-desc1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 50px;
    margin-bottom: 58px;
  }
  &-card {
    width: 582px;
    height: 660px;
    background-color: #f5f5f5;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    &__img {
      padding: 40px 44px 0px 40px;
      border-top-right-radius: 30%;
      border-top-left-radius: 30%;
      padding-bottom: 35px;
    }
    &__text {
      font-family: 'Hind Madurai', sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      color: #4567aa;
      width: 135px;
      height: 29px;
    }
    &__under {
      display: flex;
      justify-content: space-between;
      width: 288px;
      height: 30px;
    }
    &__line2 {
      border-left: 0.98px solid #4567aa;
      height: 30px;
    }
    &__text2 {
      font-family: 'Hind Madurai', sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #4567aa;
    }
    &__btn {
      width: 245px;
      height: 60px;
      background-color: #4567aa;
      color: #fff;
      text-transform: uppercase;
      margin-left: 45px;
    }
    &__btn1 {
      width: 185px;
      height: 60px;
      color: #4567aa;
      text-transform: uppercase;
      border: #4567aa 3px solid;
      margin-right: 50px;
    }
  }
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.options {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 120px;
  height: 100%;
  margin: 0 auto;
  &-text {
    width: 565px;
    font-family: 'Forum', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 535px;
    width: 679px;
    &__number {
      font-family: 'Forum', sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 500;
      padding-right: 50px;
    }
    &__name {
      font-family: 'Forum', sans-serif;
      text-transform: uppercase;
      font-size: 40px;
    }
    &__btn {
      font-family: 'Hind Madurai', sans-serif;
      font-size: 18px;
      font-weight: 200;
      color: #4567aa;
      text-transform: uppercase;
    }
  }
  &-image {
    width: 720px;
    border-top-left-radius: 100px;
  }
  &-disc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-bottom: 2px #4567aa solid;
    & div {
      transition: all 0.3s linear;
      & span {
        transition: all 0.3s linear;
      }
    }
    &:hover {
      & div {
        padding-left: 47px;
        & span {
          color: #4567aa;
        }
      }
    }
  }
  &-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 308px;
    &__btn {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      border: #4567aa 1px solid;
    }
    &__numbers {
      color: #4567aa;
      font-family: 'Forum', sans-serif;
      font-size: 50px;
    }
  }
}

.active-weekend {
  padding: 100px 0;
  background: #f5f5f5;
  &__title {
    text-align: center;
    font-size: 50px;
    font-family: 'Forum';
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 52px;
  }
  &__buttons {
    width: 861px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-item {
      border: 1px solid #4567aa;
      border-radius: 2px;
      padding: 15px 40px;
      color: #4567aa;
      transition: all 0.2s linear;
      & span {
        text-transform: uppercase;
        font-size: 28px;
      }
      &:hover {
        background: #4567aa;
        color: white;
      }
    }
  }
  &__items {
    &_top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 60px;
      &-item {
        height: 460px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;
        justify-content: end;
        &.btrr {
          width: 1013px;
          background-image: url('../img/active-weekend\ image1.png');
          border-top-right-radius: 100px;
        }
        &.btlr {
          width: 607px;
          background-image: url('../img/active-weekend\ image2.png');
          border-top-left-radius: 100px;
        }
        
      }
    }
    &_bottom{
      display: flex;
      justify-content: space-between;
      width: 100%;
      &-item{
        height: 460px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;
        justify-content: end;
        &:nth-child(1){
          width: 683px;
          background-image: url('../img/active-weekend\ image3.png');
        }
        &:nth-child(2){
          width: 934px;
          background-image: url('../img/active-weekend\ image4.png');

        }
      }
    }
    &_item{
      &_bottom-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 42px;
          background: white;
          border-top-left-radius: 40px;
          height: 70px;
          & span{
            font-size: 24px;
            font-weight: 500;
            font-family: 'Hind Madurai';
          }
          & button{
            margin-top: 10px;
            width: 60px;
            height: 60px;
            background-color: #FF8139;
            border-radius: 50%;
            margin-left: 29px;
          }
        }
    }
  }
}
.sales{
  max-width: 1680px;
  height: 100%;
  margin-bottom: 162px;
  &-head{
    margin-bottom: 122px;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-text{
    font-family: 'Forum';
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
  }
  &-content{
    max-width: 1330px;
    margin: auto;
  }
  &-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 117px;
    &-image{
      width: 640px;
      height: 320px;
    }
    &-info{
      margin-left: 85px;
    }
    &__date{
      font-family: 'Hind Madurai';
      font-size: 20px;
      font-weight: 200;
      margin-bottom: 30px;
    }
    &__text{
      width: 574px;
      font-family: 'Forum';
      font-size: 30px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__description{
      width: 562px;
      height: 84px;
      font-family: 'Hind Madurai';
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 90px;
    }
    &__btn{
      font-family: 'Hind Madurai';
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      color: #4567AA;
    }
    &__under{
      border: 2px #4567aa solid;
      width: 1680px;
      margin-bottom: 40px;
    }
    &__look{
      margin-left:750px ;
      width: 142px;
      height: 29px;
    }
    &__lookall{
      color: #4567AA;
      font-family: 'Hind Madurai';
      font-size: 20px;
      font-weight: 100;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.video{
  max-width: 1680px;

  &-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 80px;
  }
  &-text{
    width: 730px;
    font-family: 'Forum';
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  &-apples{
    margin-left:125px;
    margin-bottom: 160px;
  }
  &-under{
    border-bottom: #4567AA 2px solid;
    width: 1680px;
    margin-left:125px;
    margin-bottom: 50px;
  }
}

