.header{
    display: flex;
    max-width: 1080px;
    &-cross{
        margin-top: 52px;
        margin-left: 113px;
        margin-bottom: 51px;
        width: 46px;
        height: 46px;
        &__line1{
            background-color:var(--primary-color);
            width: 46px;
            height: 3px;
            transform: rotate(45deg);
        }
        &__line2{
            background-color:var(--primary-color);
            width: 46px;
            height: 3px;
            transform: rotate(132deg);
        }
   }
   &-logo{
        width: 190px;
        height: 38px;
        margin-top: 45px;
        margin-left: 61px;
   }
}
.positions{
    margin-bottom: 23px;
    max-width: 688px;
    margin-left: 225px;
    border-bottom: var(--primary-color) 2px solid;
    &-cont{
        display: flex;
        justify-content: space-between;
    }
    &-main{
        &__text{
            width: fit-content;
            height: 33px;
            font-family: var(--Forum);
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 25px;
            margin-top: 25px;
        }
        &__desc{
            font-family: var(--Forum);
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    }
    &-text{
        margin-bottom: 145px;
    }
    &-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 281px;
        height: 60px;
        background-color: var(--primary-color);
        &__text{
            color: #fff;
            text-transform: uppercase;
            font-family: var(--Hind);
            font-size: 18px;
            padding: 18px 15px 20px 30px;
        }
    }
}
.info{
    max-width: 711px;
    margin: auto auto auto 225px;
    &-ab{
        display: flex;
        
        justify-content: space-between;
    }
    &-telephone{
        display: flex;
        margin-bottom: 40px;
        &__numbers{
            width: 190px;
            height: 33px;
            color: var(--primary-color);
            font-family: var(--Hind);
            font-size: 24px;
            padding-left: 12px;
        }
        &__image{
            width: 26px;
            height: 26px;
            padding-top: 5px;
        }
    }
    &-place{
        width: 342px;
        height: 50px;
        &__text{
            color: var(--primary-color);
            font-family: var(--Forum);
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    &-icons{
        &__image{
            padding-right: 40px;
        }
    }
}